@using Microsoft.AspNetCore.Mvc.Localization
@using Vtnorton.Model
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "#VerdadeOuConsequencia";
    ViewData["Description"] = Localizer["VegasShortDescription"].Value;
    ViewData["Keywords"] = "verdade ou consequencia, jogos, jogos com bebidas, aplicativos, windows 10, windows insider, desenvolvedor indie";
}
@section submenu{
    <ul>
        <li><a href="#" class="on notranslate">#VerdadeOuConsequencia</a></li>
        <li><a href="http://dev.vtnorton.com/verdadeouconsequencia-changelog/" class="notranslate">Changelog</a></li>
    </ul>
}
<script src="~/js/vtnorton.apps.js"></script>
<script src="~/json/app.verdadeouconsequencia.json" type="application/ld+json">
</script>

<section class="app bg-dark">
    <div class="app-section">
        <div class="app-image">
            <img style="padding: 0px; width: 200px" src="/images/LasVegas.png" />
        </div>
        <div class="app-definition">
            <h2 class="white notranslate">#VerdadeOuConsequencia</h2>
            <p class="white">@Localizer["VegasShortDescription"]</p>
            <a href="https://www.microsoft.com/store/apps/9nblggh5xcm8" class="btn white notranslate">Download</a> <a href="http://dev.vtnorton.com/verdadeouconsequencia-changelog/" class="btn white notranslate">Changelog</a>
        </div>
        <div class="clean"></div>
    </div>
</section>
<section>
    <div class="section-wrapper">
        <div class="section-image-left left">
            <img class="section-image-left-img" style="padding: 80px; margin-left: 20%; padding-bottom: 40px;" src="/images/apps/verdade.png" />
        </div>

        <div class="section-content-right right">
            <h1>@Localizer["TerreDescription"]</h1>
            <p>@Localizer["VegasDescription"]</p>
        </div>
        <div class="clean"></div>
    </div>
</section>
<section class="bg-light">
    <div class="wrapper" style="padding: 30px 0">
        @foreach (var item in (IEnumerable<FeedItem>)ViewData["feed"])
        {
            <div class="article-blog">
                <h4><a href="@item.Link">@item.Title</a></h4>
                <img src="@item.ImageURL" />
                <p>@item.Content</p>
                <p><strong><a href="@item.Link">@Localizer["ReadMore"]</a></strong></p>
            </div>
        }
        <div class="clean"></div>
    </div>
</section>