@using Microsoft.AspNetCore.Mvc.Localization
@using Vtnorton.Model
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Formula Privacy Policy";
    ViewData["Description"] = Localizer["ThisAppDescription"].Value;
    ViewData["Keywords"] = "universal code editor, code editor, formula, visual studio code, aplicativos, windows 10, windows insider, desenvolvedor indie";
}
@section submenu{
    <li><a href="#">Formula - Universal Code Editor</a></li>
    <li><a href="http://blog.vtnorton.com/formula-changelog/">Changelog</a></li>
    <li><a href="http://twitter.com/formula4windows">@Localizer["Follow"]</a></li>
}
<script src="~/js/vtnorton.apps.js"></script>
<script src="~/json/app.formula.json" type="application/ld+json">
</script>

<section class="bg-dark-blue app">
    <div class="section-wrapper">
        <div class="row">
            <img class="col-sm-1" src="/images/Quebec.png" />
            <div class="col-sm-10">
                <h2 class="white">Formula - Universal Code Editor</h2>
                <div style="margin: 10px 0">
                    <a href="https://www.microsoft.com/store/apps/9nblggh4wb6b" class="btn white">Download</a><a href="http://blog.vtnorton.com/formula-changelog/" class="btn white">Changelog</a><a href="/formula-beta/" class="btn white">Beta Tester</a><!-- TODO: liberar função -->@*<a href="http://vtnorton.com/formula-schools/" class="btn white">Formula for Schools</a>*@
                </div>
                <p class="white">@Localizer["ThisAppDescription"]</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="section-wrapper">
        <h1>@Localizer["Privacy"]</h1>
        @Localizer["Content"]
        <blockquote class="border blue">
            @Localizer["ContentObservation"]
        </blockquote>
    </div>
</section>