@model ProjectCachoeiro.Web.Models.Utilitarios.Imagem
@{
    ViewData["Title"] = "Imagem";
    ViewData["LOGIC"] = "UWP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-9">
        <div class="view-element">
            <!-- TODO: fazer essa página ficar mais parecida com a do WordPress -->
            <div class="toolbar">
                <div class="left">
                    <h2>Imagem</h2>
                </div>
                <div class="clean"></div>
            </div>
            <div class="row">
                <div class="col-md-7 col-sm-6">
                    <h4>Dados da imagem</h4>
                    <img src="@Html.DisplayFor(model => model.URL)" />
                    <p>
                        Texto alternativo: @Html.DisplayFor(model => model.Alt)<br />
                        Legenda: @Html.DisplayFor(model => model.Legenda) <br />
                        Cor predominante: @Html.DisplayFor(model => model.CorPredominante) <br />
                        Tags: @Html.DisplayFor(model => model.Tags)
                    </p>
                </div>
                <div class="col-md-5 col-sm-6">
                    <h4>Registros</h4>
                    <p>Conheça os detalhes do cadastro e de possíveis alterações realizadas neste item.</p>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.DateCreated)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.DateCreated)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.UserCreated)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.UserCreated)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.DateModified)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.DateModified)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.UserModified)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.UserModified)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="info-bar col-md-3">
        @{
            OtherOptions otherOptions = new OtherOptions
            {
                Descricao = "Veja opções relacionadas com a apresentação de itens.",
                FeedbackEChamadoID = "ItemFamilia",
                OpcoesRelacionadas = new Links[] {
                    new Links{
                        Titulo = "Adicionar família",
                        Url = "/Familias/Create"
                    },
                    new Links{
                        Titulo = "Adicionar estado de produto",
                        Url = "/Estados/Create"
                    },
                    new Links{
                        Titulo = "Adicionar produto",
                        Url = "/Produtos/Create"
                    }
                }
            };
        }
        @Html.Partial("AppOtherOptions", otherOptions)
    </div>
</div>
<div class="taskbar">
    <div class="left">
        <a class="btn btn-link" asp-action="Index"><i class="fa fa-list-ul"></i> Voltar</a>
    </div>
    <div class="right">
        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id"><i class="fa fa-trash-o"></i>Apagar</a>
        <a class="btn" asp-action="Edit" asp-route-id="@Model.Id"><i class="fa fa-edit"></i>Editar</a>
    </div>
    <div class="clean"></div>
</div>
